.m-toast-msg {
    display: flex;
    height: 48px;
    border-radius: 4px;
    box-shadow: 0px 3px 6px;
    box-sizing: border-box;
    width: 300px;
}

.m-toast-msg .toast-msg-icon {
    width: 24px;
    height: 24px;
    background-color: springgreen;
}

.m-toast-msg .toast-msg-text {
    flex: 1;
}

.m-toast-msg .toast-msg-close {
    width: 24px;
    height: 24px;
    background-color: tomato;
}